.mesh-type {
  &__1 {
    &.clickable {
      @apply  border-orange-200 text-orange-200;
    };
    &.boxCard {
      @apply bg-orange-200 text-amber-800;
    };
    &.text {
      @apply text-amber-800;
    };
    &.iconBg {
      @apply text-orange-300;
    };
    &.meshBorder {
      @apply border border-amber-700;
    };
  };
  &__2 {
    &.clickable {
      @apply  border-emerald-200 text-emerald-200;
    };
    &.boxCard {
      @apply bg-emerald-200 text-emerald-800;
    };
    &.text {
      @apply text-emerald-800;
    };
    &.iconBg {
      color: #81C2A3;
    };
    &.meshBorder {
      @apply border border-emerald-700;
    };
  };
  &__3 {
    &.clickable {
      @apply  border-sky-200 text-sky-200;
    };
    &.boxCard {
      @apply bg-sky-200 text-sky-900;
    };
    &.text {
      @apply text-sky-900;
    };
    &.iconBg {
      @apply text-sky-300;
    };
    &.meshBorder {
      @apply border border-sky-700;
    };
  };
  &__4 {
    &.clickable {
      @apply  border-purple-200 text-purple-200;
    };
    &.boxCard {
      @apply bg-purple-200 text-violet-900;
    };
    &.text {
      @apply text-violet-900;
    };
    &.iconBg {
      color: #AB78D2;
    };
    &.meshBorder {
      @apply border border-violet-700;
    };
  };
  &__5 {
    &.clickable {
      @apply  border-red-100 text-red-100;
    };
    &.boxCard {
      @apply bg-red-100 text-orange-800;
    };
    &.text {
      @apply text-orange-800;
    };
    &.iconBg {
      color: #F98764;
    };
    &.meshBorder {
      @apply border border-orange-700;
    };
  };
  &__extra {
    &.clickable {
      @apply  border-pink-200 text-pink-200;
    };
    &.boxCard {
      @apply bg-pink-200 text-pink-800;
    };
    &.text {
      @apply text-pink-800;
    };
    &.iconBg {
      @apply text-pink-300;
    };
    &.meshBorder {
      @apply border border-amber-700;
    };
  };
  &__empty {
    &.clickable {
      @apply  border-stone-300 text-stone-300;
    };
    &.boxCard {
      @apply bg-stone-300 text-white;
    };
    &.text {
      @apply text-white bg-neutral-400;
    };
    &.iconBg {
      @apply text-neutral-400;
    };
  };
  &__taken {
    @apply text-white;
    &.cradle {
      @apply bg-indigo-900;
      &-clickable{
        @apply border-indigo-900 text-indigo-900;
      }
      &.icon{
        color: #6160A3;
      };
    };
    &.aisle {
      @apply bg-zinc-600;
      &-clickable{
        @apply border-zinc-600 text-zinc-600;
      }
      &.icon{
        @apply text-zinc-400;
      };
    };
  };
};
.box {
  @apply h-[58px] w-[58px] rounded transition duration-150 ease-out;
  &.selected {
    // Nada auno
  }
  &.not-clickable{
    @apply cursor-not-allowed
  }
  &.not-shown {
    @apply bg-zinc-600 cursor-not-allowed text-zinc-600;

    &-clickable{
      @apply border-zinc-600 text-zinc-600;
    }
    &.icon{
      @apply text-zinc-400;
    };
  };
  &.design {
    background: #CECCCC;
  }
  &.notDesignated{
    @apply border border-dashed border-gray-400;
  }
}