.aisle {
  @apply bg-second-300 text-second-300;
}
.fina {
  @apply bg-orange-600 text-orange-800 font-medium;
}
.gruesa {
  @apply bg-green-600 text-green-800 font-medium;
}
.cortada {
  @apply bg-blue-600 text-blue-800 font-medium;
}
.blocked {
  @apply bg-second-800 text-second-800;
}
.empty {
  @apply bg-second-200 text-second-200;
}
.selected {
  @apply ring-2 ring-offset-second-0 ring-offset-2 ring-main-500;
}

.mesh-box {
  &__1 {
    background-color: #FFD19B;
    color: #974A08;
    &.bubble {
      @apply border border-[#974A08]
    }
  }
  &__2 {
    background-color: #AFDCC6;
    color: #106843;
    &.bubble {
      @apply border border-[#106843]
    }
  }
  &__3 {
    background-color: #C3EDFF;
    color: #015072;
    &.bubble {
      @apply border border-[#015072]
    }
  }
  &__4 {
    background-color: #E8D7F5;
    color: #510092;
    &.bubble {
      @apply border border-[#510092]
    }
  }
  &__5 {
    background-color: #FBE1D9;
    color: #AB2A03;
    &.bubble {
      @apply border border-[#AB2A03]
    }
  }
  &__empty {
    background-color: #C0BFBF;
    color: #FFFFFF;
    &.bubble {
      @apply border border-[#FFFFFF]
    }
  }
  &__taken {
    color: #FFFFFF;
    &.cradle {
      background-color: #25238F;
    }
    &.aisle {
      background-color: #616161;
    }
  }
}