th {
    @apply px-5 py-3 whitespace-nowrap text-center text-black text-sm font-medium uppercase tracking-wider max-w-[190px];
}

.body-row {
    @apply text-second-700;
    &:not(:disabled):not([disabled='true']):hover {
        @apply bg-[#E5EEE5];
    }
    &.odd {
        @apply bg-second-50;
    }
    &.even {
        @apply bg-second-100;
    }
    &:disabled,
    &[disabled='true'] {
        background: #f3f4f6;
        color: #7d7d7d !important;
    }
}
.disabled-mobile {
    background: #f3f4f6;
    color: #7d7d7d !important;
}

td {
    @apply px-6 py-4 text-sm font-medium text-center;
    color: inherit;
    &:not(.table--action) {
        @apply truncate max-w-[190px];
    }

    &.empty {
        @apply text-second-400 italic;
    }
    &.done {
        @apply text-green-500;
    }
    &.idle {
        @apply text-blue-500;
    }
    &.warn {
        @apply text-orange-500;
    }
}

.btn-panel {
    @apply flex justify-center space-x-4;

    .add {
        @apply flex items-center text-emerald-600 hover:text-emerald-800;
    }
    .edit {
        @apply flex items-center text-indigo-600 hover:text-indigo-800;
    }

    .delete {
        @apply flex items-center text-red-600 hover:text-red-800;
    }
}

td.emptyState {
    @apply text-center text-xs text-second-300 px-6 py-4;
}

.centered {
    :is(th, td) {
        @apply text-center;
        & > * {
            @apply mx-auto;
        }
    }
    .btn-panel {
        @apply justify-center;
    }
}
