@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: hsl(151, 65%, 90%);
  --primary-100: hsl(151, 65%, 80%);
  --primary-200: hsl(151, 65%, 70%);
  --primary-300: hsl(151, 65%, 60%);
  --primary-400: hsl(151, 65%, 50%);
  --primary-500: hsl(151, 65%, 40%);
  --primary-600: hsl(151, 65%, 30%);
  --primary-700: hsl(151, 65%, 20%);
  --primary-800: hsl(151, 65%, 10%);
  --primary-900: hsl(151, 65%, 5%);
  --second-0: hsl(210, 20%, 100%);
  --second-50: hsl(210, 20%, 98%);
  --second-100: hsl(220, 14%, 96%);
  --second-200: hsl(220, 13%, 91%);
  --second-300: hsl(216, 12%, 84%);
  --second-400: hsl(218, 11%, 65%);
  --second-500: hsl(220, 9%, 46%);
  --second-600: hsl(215, 14%, 34%);
  --second-700: hsl(217, 19%, 27%);
  --second-800: hsl(215, 28%, 17%);
  --second-900: hsl(221, 39%, 11%);
}
.dark {
  --primary-50: hsl(151, 65%, 5%);
  --primary-100: hsl(151, 65%, 10%);
  --primary-200: hsl(151, 65%, 20%);
  --primary-300: hsl(151, 65%, 30%);
  --primary-400: hsl(151, 65%, 40%);
  --primary-500: hsl(151, 65%, 50%);
  --primary-600: hsl(151, 65%, 60%);
  --primary-700: hsl(151, 65%, 70%);
  --primary-800: hsl(151, 65%, 80%);
  --primary-900: hsl(151, 65%, 90%);
  --second-0: hsl(221, 39%, 0%);
  --second-50: hsl(221, 39%, 11%);
  --second-100: hsl(215, 28%, 17%);
  --second-200: hsl(217, 19%, 27%);
  --second-300: hsl(215, 14%, 34%);
  --second-400: hsl(220, 9%, 46%);
  --second-500: hsl(218, 11%, 65%);
  --second-600: hsl(216, 12%, 84%);
  --second-700: hsl(220, 13%, 91%);
  --second-800: hsl(220, 14%, 96%);
  --second-900: hsl(210, 20%, 98%);
}
